* {
    margin:0;
    padding:0;
    border:0;
  }

  body {
    background-image: url("../images/mainbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Hahmlet', serif;
  }

    /*Footer*/
.footer{
    margin-top: 1rem;
    padding-top: 1rem;
    background-color:ghostwhite;
}

.footer__icons-row {
    margin-top: 1rem;
}
.footer__ul {
    list-style-type: none;    
}

.footer__list-item-link {
    color: black;
}

.footer__list-item-link:hover {
    color: rgb(7, 179, 1);
    text-decoration: none;
}

.footer__icons {
    text-align: center;
    font-size: xx-large;    
    border: 0;
    border-radius: 0;
    margin: 20px 0px;
}