{% extends 'base.html' %}

{% block content %}
<section class="error error-notfound">
    <div class="error__container error__box-img content">
        <h1 class="error__heading text-center" id="sitenotfoundheading">Oops!<br> 404</h1>
        <h3 class="error__text mt-5 text-center">
            It looks like you got lost.
            <br>
            No worries! Just click the button to get back to the site.
        </h3>
        <!-- Href Home Button -->
        <div id="sitenotfoundbtn">
            <a href="{{url_for('index')}}" class="btn btn-dark" aria-label="Get back!" style="color: white">
                Return to site
            </a>
        </div>
    </div>
</section>
{% endblock %}