{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <h1 class="text-center">Rate Venture Companies</h1>
        <div class="row card-row">
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Company 1</h5>
                    <p class="card-text">
                        If you're a returning user and you have a comment for us, let us know!
                    </p>
                    <p class="card-text hca-p2">
                        Submit a recommentdation or comment for the website here!
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Company 2</h5>
                    <p class="card-text">
                        If you're a returning user and you have a comment for us, let us know!
                    </p>
                    <p class="card-text hca-p2">
                        Submit a recommentdation or comment for the website here!
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Company 3</h5>
                    <p class="card-text">
                        If you're a returning user and you have a comment for us, let us know!
                    </p>
                    <p class="card-text hca-p2">
                        Submit a recommentdation or comment for the website here!
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Company 4</h5>
                    <p class="card-text">
                        If you're a returning user and you have a comment for us, let us know!
                    </p>
                    <p class="card-text hca-p2">
                        Submit a recommentdation or comment for the website here!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}