{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <h1 class="text-center" id="rateventurecompaniesheader">Rate Venture Companies</h1>
        <div class="row card-row">
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Adrenaline White Water Rafting</h5>
                    <p class="card-text">
                        <a href="" class="btn btn-dark">Visit the website here!</a>
                        <br>
                        Phone Number: 123-456-7890
                        <br>
                        Location: Colorado
                        <br>
                        Email: adremaline@whitewater.com
                        <br>
                        Here at Adrenaline White Water Rafting, we take you down sections III, IV and V of the Colorado
                        River. All of our trips are customisable for your group to include all-day trips with or without
                        lunch! Our trained and certified guides are friendly and recommended for beginner rafters. Book
                        a trip with us today!
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Eco Adventures</h5>
                    <p class="card-text">
                        <a href="" class="btn btn-dark">Visit the website here!</a>
                        <br>
                        Phone Number: 111-222-3344
                        <br>
                        Location: North Carolina
                        <br>
                        Email: eco@adventures.com
                        <br>
                        Eco Adventures offers customers the highest quality mountain trips. Whether you're looking for a
                        treetop ziplining course, an adrenaline packed mountain biking trip or simply a guided hike, we
                        can help you! All of our trips can be customised for private groups, so let us know when
                        booking!
                        We look forward to sharing your next adventure!
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>Quality Climbs</h5>
                    <p class="card-text">
                        <a href="" class="btn btn-dark">Visit the website here!</a>
                        <br>
                        Phone Number: 555-234-7732
                        <br>
                        Location: South Carolina
                        <br>
                        Email: quality@ropes.com
                        <br>
                        Calling all thrill seekers! Quality Ropes is the largest rock climbing company in South
                        Carolina. We offer half and full day trips on rock climbing, bouldering and rapelling, as well
                        as climbing clinics 3 times a year! Our climbing guides are all certified instructors with
                        saftey training.
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>The Friendly Backpacker</h5>
                    <p class="card-text">
                        <a href="" class="btn btn-dark">Visit the website here!</a>
                        <br>
                        Phone Number: 234-752-2279
                        <br>
                        Location: Colorado
                        <br>
                        Email: friendly@thebackpacker.com
                        <br>
                        Whether you're looking to go on short beginner hike, or take on a multi-day backpacking trip,
                        the Friendly Backpacker can help! From providing maps and gear, to helping you plan a long hike
                        we can help you to organise your next adventure. Drop by our outfitter store and talk to a
                        Consultant to find exactly what you need.
                    </p>
                </div>
            </div>
            <div class="card home-card col-sm-12 companycards">
                <div class="card-body text-center">
                    <h5>The Fishing Hole</h5>
                    <p class="card-text">
                        <a href="" class="btn btn-dark">Visit the website here!</a>
                        <br>
                        Phone Number: 332-763-9002
                        <br>
                        Location: Alaska
                        <br>
                        Email: fishing@thefishinghole.com
                        <br>
                        Catch quality fish all year round at The Fishing Hole! We offer guided and unguided fishing
                        trips for groups of all sizes! Just drop by the store to purchase a fishing license and any gear
                        you may need. For groups over 6 people, it is advised you call and book ahead. Our store carries
                        all the equiptment you would need for a solid day's fishing- rental or purchasing options are
                        available.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}