{% extends 'base.html' %}

{% block content %}

<section class="about">
    <div class="container content">
        <div class="row">
            <div class="col-sm-12 text-center about-title">
                <h1 id="contactuspageheader">Contact Us!</h1>
            </div>
        </div>
        <div class="row about-row">
            <div class="col-sm-12 text-center">
                {% if 'username' in session %}
                <p class="page-desc">If you have a comment or recommendation for the website, please fill out the form
                    below.</p>
                {% else %}
                <p class="page-desc">
                    I don't know how you managed to find this page, but if you do have a comment or recommendation for
                    the website, please fill out the form below.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row" id="contactusform">
            <form class="col-sm-12" method="POST" action="{{ url_for('contactus') }}" id="contact-form">
                <div class="card-panel">
                    <!-- username -->
                    <div class="row">
                        <div class="input-field col s12 joinusinput text-center">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <input type="text" name="to_name" value="Rate Venture" id="to_name" hidden>
                        </div>
                    </div>
                    <!--email-->
                    <div class="row">
                        <div class="input-field col-sm-12 registerforminput text-center">
                            <label for="email">Email Address:</label>
                            <input type="email" id="email" name="email" required />
                        </div>
                    </div>
                    <!--text input area-->
                    <div class="row">
                        <div class="input-field col-sm-12 registerforminput text-center">
                            <h6>Comment:</h6>
                            <textarea id="comment" name="comment" rows="10" cols="40"
                                placeholder="Type your comment here"></textarea>
                        </div>
                    </div>
                    <!-- submit -->
                    <div class="d-grid gap-2 col-6 mx-auto registerforminput">
                        <button type="submit" class="btn btn-dark" id="contact-button" value="Send Email">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        const btn = document.getElementById('contact-button');
        document.getElementById('contact-form')
            .addEventListener('submit', function (event) {
                event.preventDefault();

                btn.value = 'Sending...';

                const serviceID = 'default_service';
                const templateID = 'contact_form';

                emailjs.sendForm(serviceID, templateID, this)
                    .then(() => {
                        btn.value = 'Send Email';
                        alert('Sent!');
                    }, (err) => {
                        btn.value = 'Send Email';
                        alert(JSON.stringify(err));
                    });
            });</script>
</section>

{% endblock %}