{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center about-title" id="forumheading">
                <h1>Rate Venture Forum</h1>
            </div>
            <div class="col-12" id="forumcreatepostarea">
                <div class="text-center">
                    <h5>Create a Post</h5>
                    <p>
                        Click the button below to make a Forum post!
                    </p>
                    <a href="{{ url_for('createpost') }}" class="btn btn-dark">Create a Post</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" id="forumpagesearcharea">
                    <h5 class="text-center">Search posts</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card home-card companycards">
                    <div class="card-body text-center">
                        <h5>Company 1</h5>
                        <p class="card-text">
                            If you're a returning user and you have a comment for us, let us know!
                        </p>
                        <p class="card-text hca-p2">
                            Submit a recommentdation or comment for the website here!
                        </p>
                    </div>
                </div>
                <div class="card home-card companycards">
                    <div class="card-body text-center">
                        <h5>Company 2</h5>
                        <p class="card-text">
                            If you're a returning user and you have a comment for us, let us know!
                        </p>
                        <p class="card-text hca-p2">
                            Submit a recommentdation or comment for the website here!
                        </p>
                    </div>
                </div>
                <div class="card home-card companycards">
                    <div class="card-body text-center">
                        <h5>Company 3</h5>
                        <p class="card-text">
                            If you're a returning user and you have a comment for us, let us know!
                        </p>
                        <p class="card-text hca-p2">
                            Submit a recommentdation or comment for the website here!
                        </p>
                    </div>
                </div>
                <div class="card home-card companycards">
                    <div class="card-body text-center">
                        <h5>Company 4</h5>
                        <p class="card-text">
                            If you're a returning user and you have a comment for us, let us know!
                        </p>
                        <p class="card-text hca-p2">
                            Submit a recommentdation or comment for the website here!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}