{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center about-title" id="forumheading">
                <h1>Rate Venture Forum</h1>
            </div>
            <div class="col-12" id="forumcreatepostarea">
                <div class="text-center">
                    <h5>Create a Post</h5>
                    <p>
                        Click the button below to make a Forum post!
                    </p>
                    <a href="{{ url_for('createpost') }}" class="btn btn-dark">Create a Post</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" id="forumpagesearcharea">
                    <h5 class="text-center">Search posts</h5>
                    <div class="row card-panel grey lighten-5">
                        <form action="{{ url_for('search') }}" method="post" class="col s12">
                            <div class="row valign-wrapper center-align">
                                <div class="input-field col s12 m8" id="searchbox">
                                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                                </div>
                                <div class="col s12" id="searchbuttons">
                                    <a href="{{ url_for('get_posts') }}" class="btn btn-dark">Reset</a>
                                    <button type="submit" class="btn btn-dark">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="text-center">(Press "Reset" To clear the search and view all Forum posts)</p>
                </div>
            </div>
            <div class="col-lg-8">
                {% if posts|length > 0 %}
                {% for post in posts %}
                <div class="card home-card companycards">
                    <div class="card-body text-center">
                            <strong>{{ post.post_name }}</strong>
                            <p> {{ post.category_name }}</p>
                            <p>{{ post.the_post }}</p>
                            <p><em>by: {{ post.created_by }}</em></p>
                            {% if session.username|lower == post.created_by|lower %}
                            <a href="{{ url_for('deletepost', post_id=post._id) }}" class="btn btn-dark">Delete
                                Post</a>
                            <a href="{{ url_for('editpost', post_id=post._id) }}" class="btn btn-dark">Edit</a>
                            {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 class="red-text text-darken-4 text-center">No Results Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}