{% extends 'base.html' %}

{% block content %}


<section class="about">
    <div class="container">
        <div class="row greeting">
            {% if 'username' in session %}
            <div class="col-sm-12 text-center welcomeheader">
                <h1>Welcome, {{ session['username'] }}!</h1>
            </div>

            {% else %}
            <div class="col-sm-12 text-center welcomeheader">
                <h1>Welcome to Rate Venture!</h1>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row card-row" id="indexboxes">
            <div class="card home-card col-sm-12 col-md-6" id="indexbox1">
                <div class="card-body text-center">
                    {% if 'username' in session %}
                    <h5 class="card-title hca-title">Have a comment for us?</h5>
                    <p class="card-text">
                        If you're a returning user and you have a comment for us, let us know!
                    </p>
                    <p class="card-text hca-p2">
                        Submit a recommentdation or comment for the website here!
                    </p>
                    <a href="{{ url_for('contactus') }}" class="btn btn-dark">Contact Us</a>
                    {% else %}
                    <h5 class="card-title hca-title">Join Rate Venture</h5>
                    <p class="card-text">
                        Are you an adventurer who is eager to start their outdoor expedition?
                    </p>
                    <p class="card-text hca-p2">
                        Become part of our community and find highly rated, reputable companies that will
                        help make your next vacation a hit!
                    </p>
                    <a href="{{ url_for('joinus') }}" class="btn btn-dark">Join Us</a>
                    <p class="card-text">
                        Are you a company looking to be featured on the site?
                    </p>
                    <p class="card-text hca-p2">
                        Register with the website and be discovered by a wider range of customers!
                    </p>
                    <a href="{{ url_for('registercompany') }}" class="btn btn-dark">Register Company</a>
                    {% endif %}
                </div>
            </div>
            <div class="card home-card col-sm-12 col-md-6" id="indexbox2">
                <div class="card-body text-center">
                    {% if 'username' in session %}
                    <h5 class="card-title hca-title">Intrepid Adventurer</h5>
                    <p class="card-text">
                        Help your fellow explorers by sharing your experiences and rating companies in our Forum.
                    </p>
                    <p class="card-text hca-p2">
                        Create your own reviews or read exisiting reviews to help you find the most
                        suitable company for you or your family's needs, or simply ask for advice for an upcoming trip
                        or new pice of gear!
                    </p>
                    <a href="{{ url_for('get_posts') }}" class="btn btn-dark">Forum</a>
                    {% else %}
                    <h5 class="card-title hca-title">Login to Rate Venture</h5>
                    <p class="card-text">
                        Returning user? Sign in here to jump back in and discover your next adventure!
                    </p>
                    <p class="card-text hca-p2">
                        You will have the option to add to the forum by creating a review or discussion post! Read
                        company review from other users or help others out by answering a question in the forum.
                    </p>
                    <a href="{{ url_for('login') }}" class="btn btn-dark indexloginbtn">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}