{% extends 'base.html' %}

{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 text-center about-title">
                    <h1 id="loginpageheader">Login to Rate Venture</h1>
                </div>
            </div>
            <div class="row about-row">
                <div class="col-sm-12 text-center">
                    {% if 'username' in session %}
                        <h3 class="page-desc">You are already logged in!</h3>
                    {% else %}
                        <h3 class="page-desc">
                            Login and find inspiration for your next outdoor adventure! 
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}